<a href="https://colab.research.google.com/github/Keishin315/sony_compe/blob/main/lgb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#baselineモデルLB4043

In [ ]:
!pip install optuna
#予測していく
import optuna.integration.lightgbm as olgb
import lightgbm as lgb
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np
traindata=pd.read_csv('/content/drive/MyDrive/traindata.csv')
testdata=pd.read_csv('/content/drive/MyDrive/testdata.csv')
toriginal=pd.read_csv('/content/drive/MyDrive/toroginal.csv')
original=pd.read_csv('/content/drive/MyDrive/original.csv')
target=pd.read_csv('/content/drive/MyDrive/target.csv')
stcapa=pd.read_csv('/content/drive/MyDrive/stcapa.csv')
tstcapa=pd.read_csv('/content/drive/MyDrive/tstcapa.csv')

In [5]:
import lightgbm as lgb
pre = [ 0 for i in range(len(testdata))]
for i in range(30):
  gbm = lgb.LGBMRegressor(n_estimators=50,
                            n_jobs=-1,
                            num_leaves=int(2**6.18),
                            feature_fraction=.63,
                            lambda_l1=10**-2.68,
                            lambda_l2=10**-2.67,
                            min_data_in_leaf=3,
                            learning_rate=10**-1.46,
                            num_boost_round=1000,
                            random_state=42+i)
  gbm.fit(traindata,target)
  pre+=gbm.predict(testdata)/30

/usr/local/lib/python3.7/dist-packages/lightgbm/engine.py:118: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

In [6]:
pre=pd.DataFrame(pre)
for i in range(459):
  pre[0][i]=pre[0][i]*tstcapa['0'][i]
pre

                0
0    44564.391016
1    17072.607307
2    23701.392127
3    17983.307907
4    18989.056232
..            ...
454  27053.262156
455  19992.032252
456  26865.726471
457  30784.593246
458  16163.857335

[459 rows x 1 columns]

In [7]:
samsubdata=pd.read_csv('sample_submit-4.csv',header=None)
samsubdata.iloc[:,1]=0
samsubdata[1]=pd.DataFrame(pd.DataFrame(pre))
naga=pd.DataFrame(list(toriginal[toriginal['venue']=='トランスコスモススタジアム長崎'].id))
for i in range(459):
  if(samsubdata[0][i] in naga[0].values):
    samsubdata[1][i]=10200
samsubdata.to_csv('sub1.csv',index=False,header=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys